body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1080px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:40px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:1080px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:507px;
  background:-webkit-linear-gradient(270deg, rgba(241, 246, 242, 1) 0%, rgba(241, 246, 242, 1) 0%, rgba(217, 226, 241, 1) 100%, rgba(217, 226, 241, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(241, 246, 242, 1) 0%, rgba(241, 246, 242, 1) 0%, rgba(217, 226, 241, 1) 100%, rgba(217, 226, 241, 1) 100%);
  background:linear-gradient(180deg, rgba(241, 246, 242, 1) 0%, rgba(241, 246, 242, 1) 0%, rgba(217, 226, 241, 1) 100%, rgba(217, 226, 241, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:140px;
  top:130px;
  width:900px;
  height:507px;
}
#u3 {
  position:absolute;
  left:2px;
  top:246px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u5 {
  position:absolute;
  left:319px;
  top:150px;
  width:123px;
  height:300px;
}
#u6 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u7 {
  position:absolute;
  left:351px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u10 {
  position:absolute;
  left:459px;
  top:150px;
  width:123px;
  height:300px;
}
#u11 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u12 {
  position:absolute;
  left:491px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u15 {
  position:absolute;
  left:599px;
  top:150px;
  width:123px;
  height:300px;
}
#u16 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u17 {
  position:absolute;
  left:631px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u20 {
  position:absolute;
  left:739px;
  top:150px;
  width:123px;
  height:300px;
}
#u21 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u22 {
  position:absolute;
  left:771px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u25 {
  position:absolute;
  left:879px;
  top:150px;
  width:123px;
  height:300px;
}
#u26 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u27 {
  position:absolute;
  left:911px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:300px;
}
#u30 {
  position:absolute;
  left:179px;
  top:150px;
  width:123px;
  height:300px;
}
#u31 {
  position:absolute;
  left:2px;
  top:142px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u32 {
  position:absolute;
  left:211px;
  top:470px;
  width:60px;
  height:30px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u34 {
  position:absolute;
  left:344px;
  top:560px;
  width:492px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u36 {
  position:absolute;
  left:140px;
  top:680px;
  width:300px;
  height:170px;
}
#u37 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:100px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u39 {
  position:absolute;
  left:730px;
  top:680px;
  width:270px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u42 {
  position:absolute;
  left:926px;
  top:705px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u44 {
  position:absolute;
  left:934px;
  top:728px;
  width:35px;
  height:5px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u47 {
  position:absolute;
  left:755px;
  top:700px;
  width:150px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:43px;
  width:146px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u49 {
  position:absolute;
  left:838px;
  top:710px;
  width:30px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u51 {
  position:absolute;
  left:793px;
  top:710px;
  width:14px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  text-align:left;
}
#u53 {
  position:absolute;
  left:460px;
  top:680px;
  width:200px;
  height:110px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  text-align:left;
}
#u54 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(75, 85, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u56 {
  position:absolute;
  left:465px;
  top:340px;
  width:250px;
  height:170px;
}
#u57 {
  position:absolute;
  left:2px;
  top:77px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u58 {
  position:absolute;
  left:475px;
  top:345px;
  width:82px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DBE6EC;
}
#u60 {
  position:absolute;
  left:485px;
  top:375px;
  width:50px;
  height:16px;
  color:#DBE6EC;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u62 {
  position:absolute;
  left:485px;
  top:405px;
  width:45px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u64 {
  position:absolute;
  left:485px;
  top:435px;
  width:49px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u67 {
  position:absolute;
  left:574px;
  top:376px;
  width:17px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u69 {
  position:absolute;
  left:598px;
  top:376px;
  width:16px;
  height:16px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u71 {
  position:absolute;
  left:552px;
  top:376px;
  width:16px;
  height:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u74 {
  position:absolute;
  left:635px;
  top:376px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:647px;
  top:376px;
  width:40px;
  height:16px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background-color:#DBE6EC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u78 {
  position:absolute;
  left:574px;
  top:405px;
  width:17px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u80 {
  position:absolute;
  left:598px;
  top:405px;
  width:16px;
  height:16px;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u82 {
  position:absolute;
  left:552px;
  top:405px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u85 {
  position:absolute;
  left:574px;
  top:435px;
  width:17px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u87 {
  position:absolute;
  left:598px;
  top:435px;
  width:16px;
  height:16px;
}
#u88 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u89 {
  position:absolute;
  left:552px;
  top:435px;
  width:16px;
  height:16px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u92 {
  position:absolute;
  left:635px;
  top:405px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:647px;
  top:405px;
  width:40px;
  height:16px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background-color:#DBE6EC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u96 {
  position:absolute;
  left:635px;
  top:435px;
  width:9px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DBE6EC;
  text-align:center;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:647px;
  top:435px;
  width:40px;
  height:16px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background-color:#DBE6EC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(219, 230, 236, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u99 {
  position:absolute;
  left:528px;
  top:470px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u100 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(219, 230, 236, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u101 {
  position:absolute;
  left:598px;
  top:470px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u102 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u103 {
  position:absolute;
  left:291px;
  top:560px;
  width:599px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:190px;
  background:-webkit-linear-gradient(270deg, rgba(217, 226, 241, 1) 0%, rgba(217, 226, 241, 1) 0%, rgba(219, 230, 236, 1) 100%, rgba(219, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(217, 226, 241, 1) 0%, rgba(217, 226, 241, 1) 0%, rgba(219, 230, 236, 1) 100%, rgba(219, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(217, 226, 241, 1) 0%, rgba(217, 226, 241, 1) 0%, rgba(219, 230, 236, 1) 100%, rgba(219, 230, 236, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u106 {
  position:absolute;
  left:380px;
  top:340px;
  width:420px;
  height:190px;
}
#u107 {
  position:absolute;
  left:2px;
  top:87px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u108 {
  position:absolute;
  left:470px;
  top:364px;
  width:50px;
  height:48px;
}
#u109 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u110 {
  position:absolute;
  left:400px;
  top:364px;
  width:50px;
  height:50px;
}
#u111 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u112 {
  position:absolute;
  left:540px;
  top:364px;
  width:111px;
  height:50px;
}
#u113 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u114 {
  position:absolute;
  left:671px;
  top:364px;
  width:111px;
  height:50px;
}
#u115 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3B5998;
}
#u116 {
  position:absolute;
  left:501px;
  top:440px;
  width:178px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3B5998;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u118 {
  position:absolute;
  left:528px;
  top:485px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u119 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u120 {
  position:absolute;
  left:598px;
  top:485px;
  width:55px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u121 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3B5998;
}
#u123 {
  position:absolute;
  left:775px;
  top:572px;
  width:145px;
  height:21px;
  color:#3B5998;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u125 {
  position:absolute;
  left:930px;
  top:567px;
  width:70px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#D9E2F1;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u127 {
  position:absolute;
  left:448px;
  top:560px;
  width:284px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4B5578;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
